<footer th:fragment="footer">
    <div class="footer">
        <div class="footer_logo"><img src="/images/logo.png"style="width:200px;"></div>

        <div class="footer_info">
        ExitLog 고객센터 : 02-3212-7576 (평일 09:00~19:00, 주말·공휴일 휴무) <br>
        이메일 : @saramin.co.kr, Fax : 02-6937-0039(대표), 02-6937-0035(세금계산서서) <a ref=""></a><br>
        (주)ExitLog, 우 : 06134, 서울특별시 테헤란로 7길 7 7층, 대표 : 김소영<br>
        <br>
        Powered by <a href="http://www.saramin.co.kr" target="_blank">취업 사람인</a>
        </div>
    </div>

</footer>